
<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8 />
  <link rel="icon" type="image/png" href="/favicon.ico?v=2"/>
  <link rel="stylesheet" href="/resources/styles/main.css"/>
  <link rel="stylesheet" href="/resources/styles/960.css" />
  <link rel="stylesheet" href="/resources/js/prettify/prettify.css">
  <!-- <link rel="stylesheet" href="/resources/js/styles/zenburn2.css"> -->
  <!--<script src="/resources/js/highlight.pack.js"></script>-->
  <!--<script>hljs.initHighlightingOnLoad();</script>-->
  <script src="/resources/js/jquery-1.11.0.min.js"></script>
  <script type='text/javascript'>
  $(function() {
      $('pre').addClass('prettyprint linenums');
  })
  </script>
  <script src="/resources/js/prettify/prettify.js"></script>
  <script src="/resources/js/prettify/lang-scala.js"></script>
  <script src="/resources/js/quotes.js"></script>
</head>

{{ content }}

</html>
