---
layout: projbase
---



<div>
  <script src="/resources/js/reactress-banner.js"></script>
  <div class="banner">
    <img class="bannerimage" src="/resources/images/reactress-banner.jpg"/>
    <div class="bannerlinks">
      <a href="https://github.com/storm-enroute/reactress"><img class="bannerlink" id="link-github" src="/resources/images/icons/github7-gray.png"/></a>
      <a href="https://groups.google.com/forum/#!forum/reactress"><img class="bannerlink" id="link-groups" src="/resources/images/icons/mail8-gray.png"/></a>
      <a href="https://twitter.com/storm_enroute"><img class="bannerlink" id="link-twitter" src="/resources/images/icons/twitter4-gray.png"/></a>
    </div>
  </div>

  <div class="bannerdivider">
  </div>

  <div class="bannerlogoholder">
    <div class="bannerlogo">
      <img src="/resources/images/reactress-gradient.png"/>
    </div>
    <div class="bl bl-download">
      <a href='/reactress/download/'>
        <img src='/resources/images/icons/download61-gray.png' height='14px'/>
        Download latest version
      </a>
      <div class="right-edge"></div>
    </div>
    <div class="bl bl-build-status">
      <a href='https://ci.storm-enroute.com:8080/job/public-reactress/'>
        <img src='/resources/images/icons/cogs3-gray.png' height='14px'/>
        <img class="buildstatus" src='https://ci.storm-enroute.com:8080/buildStatus/icon?job=public-reactress' />
      </a>
      <div class="right-edge"></div>
    </div>
    <div class="bl bl-tutorial">
      <a href='/reactress/gettingstarted/'>
        Getting started guide
        <img src='/resources/images/icons/graduation20-gray.png' height='14px'/>
      </a>
      <div class="left-edge"></div>
    </div>
    <div class="bl bl-docs">
      <a href='http://storm-enroute.com/apidocs/reactress/api'>
        API docs
        <img src='/resources/images/icons/open161-gray.png' height='14px'/>
      </a>
      <div class="left-edge"></div>
    </div>
  </div>

  <div id="main" class="container_16">

    <div class="grid_16">

      <div class="grid_2 alpha">
        <br/>
      </div>
      <div class="grid_12 title">
      </div>
      <div class="grid_2 omega"></div>

      {{ content }}

    </div>

  </div>
</div>












