---
layout: projbase
---



<div class="loader-macrogl"></div>

<script type="text/javascript">
  var faded = false;

  var startFadeOut = function() {
    if (!faded) {
      faded = true;
      $(".loader-macrogl").fadeOut("slow");
    }
  };

  $(window).load(startFadeOut);
  setTimeout(startFadeOut, 5000);
</script>

<div>
  <script src="/resources/js/macrogl-banner.js"></script>
  <div class="banner">
    <div id="bannercenter" class="bannercenter">
      <!-- <img src="/resources/images/macrogl-banner.jpg"/> -->
      <canvas id="canvas-main-banner" height="520px" width="1400px">
      </canvas>
      <script
        type="text/javascript"
        src="http://storm-enroute.com/builds/macrogl/latest/backend-examples-webgl/target/scala-2.11/backend-examples-webgl-fastopt.js">
      </script>
      <script type="text/javascript">
        WebglExamples().mainBanner("canvas-main-banner");
      </script>
      <div class="bannerlinks">
        <a href="https://github.com/storm-enroute/macrogl"><img class="bannerlink" id="link-github" src="/resources/images/icons/github7-gray.png"/></a>
        <a href="https://groups.google.com/forum/#!forum/macrogl"><img class="bannerlink" id="link-groups" src="/resources/images/icons/mail8-gray.png"/></a>
        <a href="https://twitter.com/storm_enroute"><img class="bannerlink" id="link-twitter" src="/resources/images/icons/twitter4-gray.png"/></a>
      </div>
    </div>
  </div>

  <div class="bannerdivider">
  </div>

  <div class="bannerlogoholder">
    <div class="bannerlogo">
      <img src="/resources/images/macrogl-main-logo.png"/>
    </div>
    <div class="bl bl-download">
      <a href='/macrogl/download/'>
        <img src='/resources/images/icons/download61-gray.png' height='14px'/>
        Download latest version
      </a>
      <div class="right-edge"></div>
    </div>
    <div class="bl bl-build-status">
      <a href='https://ci.storm-enroute.com:8080/job/public-macrogl/'>
        <img src='/resources/images/icons/cogs3-gray.png' height='14px'/>
        <img class="buildstatus" src='https://ci.storm-enroute.com:8080/buildStatus/icon?job=public-macrogl' onError="this.src='/resources/images/build-status-passing.png';" />
      </a>
      <div class="right-edge"></div>
    </div>
    <div class="bl bl-tutorial">
      <a href='/macrogl/learn/'>
        Getting started guide
        <img src='/resources/images/icons/graduation20-gray.png' height='14px'/>
      </a>
      <div class="left-edge"></div>
    </div>
    <div class="bl bl-docs">
      <a href='http://storm-enroute.com/apidocs/macrogl/0.4-SNAPSHOT/api/'>
        API docs
        <img src='/resources/images/icons/open161-gray.png' height='14px'/>
      </a>
      <div class="left-edge"></div>
    </div>
  </div>

  <div class="container_12">
    <div class="grid_8">
    </div>
    <div class="grid_4">
    </div>
  </div>

  </div>
</div>












