---
layout: projbase
---



<div class="loader"></div>

<script type="text/javascript">
  $(window).load(function() {
    $(".loader").fadeOut("slow");
  })
</script>

<div>
  <script src="/resources/js/reactress-banner.js"></script>
  <div class="banner">
    <div id="bannercenter" class="bannercenter">
      <img src="/resources/images/reactress-banner.jpg"/>
      <div class="bannerlinks">
        <a href="https://github.com/storm-enroute/reactive-collections"><img class="bannerlink" id="link-github" src="/resources/images/icons/github7-gray.png"/></a>
        <a href="https://groups.google.com/forum/#!forum/reactive-collections"><img class="bannerlink" id="link-groups" src="/resources/images/icons/mail8-gray.png"/></a>
        <a href="https://twitter.com/reactivecollect"><img class="bannerlink" id="link-twitter" src="/resources/images/icons/twitter4-gray.png"/></a>
      </div>
    </div>
  </div>

  <div class="bannerdivider">
  </div>

  <div class="bannerlogoholder">
    <div class="bannerlogo">
      <img src="/resources/images/reactress-gradient.png"/>
    </div>
    <div class="bl bl-download">
      <a href='/reactive-collections/download/'>
        <img src='/resources/images/icons/download61-gray.png' height='14px'/>
        Download latest version
      </a>
      <div class="right-edge"></div>
    </div>
    <div class="bl bl-build-status">
      <a href='https://ci.storm-enroute.com:8080/job/public-reactive-collections/'>
        <img src='/resources/images/icons/cogs3-gray.png' height='14px'/>
        <img class="buildstatus" src='https://ci.storm-enroute.com:8080/buildStatus/icon?job=public-reactive-collections' />
      </a>
      <div class="right-edge"></div>
    </div>
    <div class="bl bl-tutorial">
      <a href='/reactive-collections/docs/{{ site.reactive_collections_version }}/'>
        Getting started guide
        <img src='/resources/images/icons/graduation20-gray.png' height='14px'/>
      </a>
      <div class="left-edge"></div>
    </div>
    <div class="bl bl-docs">
      <a href='http://storm-enroute.com/apidocs/final/reactive-collections/{{ site.reactive_collections_version }}/api'>
        API docs
        <img src='/resources/images/icons/open161-gray.png' height='14px'/>
      </a>
      <div class="left-edge"></div>
    </div>
  </div>

  <div id="main" class="container_16">

    <div class="grid_16 main-description">
      <ul class="main-items">
        <li>
          <div><img src="/resources/images/icons/dark18.png"/></div>
          <h2>Event-driven</h2>
          <span>
            Event-driven architecture targeted at building
            reactive applications with time-varying inputs.
            Ensures a better separation of concerns
            and supports layered applications.
          </span>
        </li>
        <li>
          <div><img src="/resources/images/icons/view2.png"/></div>
          <h2>Declarative</h2>
          <span>
            Declarative programming style based on reactive composition
            for more concise and understandable programs.
            Relies on higher-order dataflow to
            change data dependencies dynamically.
          </span>
        </li>
        <li>
          <div><img src="/resources/images/icons/parallel.png"/></div>
          <h2>Concurrent</h2>
          <span>
            Concurrency by separating parallel
            event propagations into entities called isolates.
            Isolates communicate by exchanging events through typed channels.
          </span>
        </li>
      </ul>
      <ul class="main-items">
        <li>
          <div><img src="/resources/images/icons/database7.png"/></div>
          <h2>Reactive containers</h2>
          <span>
            Reactive data containers for reactive
            mutable data.
            Reactive container queries are much more efficient
            than their stream-based counterparts.
          </span>
        </li>
        <li>
          <div><img src="/resources/images/icons/weighlifting.png"/></div>
          <h2>Resilient</h2>
          <span>
            Avoids unnecessary synchronization and buffering
            to achieve high throughput.
            Comes with idiomatic support
            for failure-handling inside isolates.
          </span>
        </li>
        <li>
          <div><img src="/resources/images/icons/triangular42.png"/></div>
          <h2>GC-friendly</h2>
          <span>
            Uses Scala Type-Driven Specialization
            to eliminate boxing for primitive values.
            Promotes reactive modifications on
            mutable data to avoid excess garbage.
            GC pauses never were shorter!
          </span>
        </li>

      {{ content }}

    </div>

  </div>
</div>












